{{{html}}}

<div class="kg-card kg-cta-card kg-cta-bg-grey kg-cta-minimal" data-layout="minimal">
    <div class="kg-cta-sponsor-label-wrapper">
        <div class="kg-cta-sponsor-label">
            <span style="white-space: pre-wrap;">Access Denied</span>
        </div>
    </div>

    <div class="kg-cta-content">
        <div class="kg-cta-content-inner">
            {{#if @member}}
                {{#has visibility="paid"}}
                    <div class="kg-cta-text">
                        <p dir="ltr"><span style="white-space: pre-wrap;">This content is for paying subscribers only.</span></p>
                    </div>
                    <a href="#/portal/account/plans" class="gh-btn gh-primary-btn">
                        Subscribe
                    </a>
                {{/has}}
                {{#has visibility="tiers"}}
                    <div class="kg-cta-text">
                        <p dir="ltr"><span style="white-space: pre-wrap;">This content is available for certain individuals only. If you believe this is an error, then let me know.</span></p>
                    </div>
                {{/has}}
            {{else}}
                <div class="kg-cta-text">
                    {{#has visibility="paid"}}
                        <p dir="ltr"><span style="white-space: pre-wrap;">You need to sign in and be a paying subscriber to see this content.</span></p>
                    {{/has}}
                    {{#has visibility="members"}}
                        <p dir="ltr"><span style="white-space: pre-wrap;">You need to sign in to see this content.</span></p>
                    {{/has}}
                    {{#has visibility="tiers"}}
                        <p dir="ltr"><span style="white-space: pre-wrap;">This content is available for certain individuals only. If you do have access, then sign in with your email.</span></p>
                    {{/has}}
                </div>
                <a href="#/portal/signin" class="gh-btn gh-primary-btn">
                    Sign in
                </a>
            {{/if}}
        </div>
    </div>
</div>