{{!< default}}

{{#post}}

<main class="gh-main gh-outer">
    <div class="gh-inner page">
        <article class="gh-article {{post_class}}">
            {{#match @page.show_title_and_feature_image}}
                <header class="gh-article-header gh-canvas">
                    <h1 class="gh-article-title">{{title}}</h1>
                    {{#if custom_excerpt}}
                        <p class="gh-article-excerpt">{{custom_excerpt}}</p>
                    {{/if}}
                    {{> "feature-image"}}
                </header>
            {{/match}}

            <section class="gh-canvas gh-content">
                {{content}}
                {{#if @custom.show_table_of_contents_in_pages}}
                    <hr class="gh-toc-divider">
                    <div class="gh-sidebar">
                        <div class="gh-toc"></div>
                    </div>
                {{/if}}
            </section>
        </article>
    </div>
</main>

{{/post}}
